.Food {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #424d5e;

  &-wrapper-image {
    margin-top: 30px;
    display: flex;
  }

  &-wrapper-image-black {
    display: flex;
    justify-content: space-around;
    img {
      width: 1320;
      height: 700;
    }
    margin-top: 30px;
    display: flex;
  }

  &-wrapper-image-docs {
    height: 55%;
    width: 1440px;
    margin-top: 30px;
    display: flex;
  }

  &-menu-back {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding-left: 60px;
  }

  &-white {
    background-color: #eef0f2;
    width: 100%;
  }

  &-black {
    background-color: #1e2837;
    width: 100%;
  }

  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-section {
    width: 100%;

    &-flex {
      display: flex;
      flex-direction: column;
      flex: wrap;
      max-width: 1320px;
      padding-bottom: 150px;
      margin: 80px 0 0px;
      border-bottom: 4px solid #424d5e;

      &-1 {
        margin-top: 150px;
        padding-bottom: 300px;
      }

      &-3 {
        margin-bottom: 0;
      }

      &-4 {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 60px;
      }

      &-5 {
        border-bottom: none;
        margin-top: 160px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      &-6 {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0px;
      }

      &-7 {
        border-bottom: none;
      }
      &-10 {
        height: 2000px;
        margin-top: 150px;
        padding-bottom: 300px;
        max-width: 1320px;
        border-bottom: 4px solid #424d5e;
      }
      &-11 {
        height: 1314px;
        margin-top: 150px;
        padding-bottom: 300px;
        max-width: 1320px;
        border-bottom: 4px solid #424d5e;
        margin-bottom: 150px;
      }
      &-12 {
        height: 3700px;
        margin-top: 150px;
        padding-bottom: 300px;
        max-width: 1320px;
        border-bottom: 4px solid #424d5e;
        margin-bottom: 150px;
      }
      &-13 {
        height: 2500px;
        margin-top: 150px;
        padding-bottom: 300px;
        max-width: 1320px;
        margin-bottom: 150px;
      }
    }

    &-block {
      padding-left: 20%;
      display: grid;
      row-gap: 40px;
      width: 100%;

      &-left {
        display: flex;
        position: relative;
        width: 100%;
      }
      &-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        height: 220px;
        max-height: 420px;
        &-orders {
          margin-top: 60px;
          line-height: 32px;
          width: 45%;
        }
        &-documents {
          margin-top: 60px;
          line-height: 32px;
          width: 36%;
          margin-right: 10%;
        }
        &-orders2 {
          color: white;
          margin-top: 60px;
          line-height: 32px;
          width: 45%;
        }
        &-courier {
          margin-left: 37%;
          line-height: 32px;
          width: 50%;
        }
        &-admin {
          margin-left: 15%;
          line-height: 32px;
          width: 50%;
        }
        &-admin2 {
          margin-left: 56%;
          line-height: 32px;
          width: 40%;
        }
        &-foodSupplier {
          margin-left: 56%;
          line-height: 32px;
          width: 100%;
        }
      }
    }

    &:nth-child(4) {
      div {
        border-bottom: none;
      }
    }
  }

  &-background-white {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    padding: 79px 0 0 270px;

    &-tasks {
      position: absolute;
      top: -660px;
      left: -150px;
    }
    &-tasks2 {
      position: absolute;
      top: -440px;
      left: -250px;
    }
    &-vacation {
      position: absolute;
      top: 10px;
      right: 40px;
    }
    &-agreement {
      position: absolute;
      top: -180px;
      left: 10px;
    }
    &-feedback {
      position: absolute;
      top: 250px;
      left: 450px;
    }
    &-feedbackLetter {
      position: absolute;
      top: 70px;
      left: 880px;
    }
    &-courier {
      position: absolute;
      top: -400px;
      left: -20px;
    }
    &-courier2 {
      position: absolute;
      top: -200px;
      left: 220px;
    }
    &-table {
      position: absolute;
      top: -190px;
      left: -710px;
    }
    &-createAppeal {
      position: absolute;
      top: -190px;
      left: -710px;
    }
    &-addDocument {
      position: absolute;
      top: 30px;
      left: -100px;
    }
    &-checkboxes {
      position: absolute;
      top: 540px;
      left: -80px;
    }
    &-foodSupplierFilter {
      position: absolute;
      top: -400px;
      left: 70px;
    }
    &-foodSupplierContext {
      position: absolute;
      top: 650px;
      left: 900px;
    }
  }

  &-background-black {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 640px;

    &-create-request {
      opacity: 0.8;
    }

    &-history2 {
      display: none;
    }

    &-subscribe {
      position: absolute;
      top: -370px;
      left: 913px;
    }

    &-dispatcher-canceled {
      position: absolute;
      top: -140px;
      left: 935px;
    }

    &-dispatcher-changed {
      position: absolute;
      top: -40px;
      left: 750px;
    }

    &-cancel {
      position: absolute;
      top: -280px;
      left: 60px;
    }
    &-admin {
      position: absolute;
      top: 60px;
      left: 50px;
    }
    &-login {
      position: absolute;
      top: 110px;
      left: 290px;
    }
    &-orderTable {
      position: absolute;
      top: 210px;
      left: 570px;
    }
    &-filterList {
      position: absolute;
      top: -120px;
      left: 1060px;
    }
    &-foodSupplier {
      position: absolute;
      top: 10px;
      left: 300px;
    }
    &-editDish {
      position: absolute;
      top: 240px;
      left: 870px;
    }
  }
  &-background-orders-black {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 1342px;
  }
  &-background-admin-black {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 640px;
  }

  &-phone-screens {
    position: relative;
    margin: 0 auto;
    display: flex;
    column-gap: 50px;
    width: 1440px;
    height: 1568px;

    &-block-1,
    &-block-2,
    &-block-3,
    &-block-4 {
      position: relative;
      left: -290px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }

    &-block-1 {
      top: -533px;
    }

    &-block-2 {
      top: -200px;
    }

    &-block-3 {
      top: 160px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Food {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #424d5e;

    &-wrapper-image {
      display: flex;
      justify-content: space-around;
      img {
        width: 204px;
        height: 339px;
      }
      margin-top: 30px;
      display: flex;
    }
    &-wrapper-image-black {
      img {
        width: 672px;
        height: 356px;
      }
    }

    &-wrapper-image-docs {
      height: 28%;
      width: 768px;
      margin-top: 30px;
      display: flex;
    }

    &-menu-back {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 80px;
      background-color: #fff;
    }

    &-white {
      background-color: #eef0f2;
      width: 100%;
    }

    &-black {
      background-color: #1e2837;
      width: 100%;
    }

    &-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-section {
      width: 100%;

      &-flex {
        display: flex;
        flex-direction: column;
        flex: wrap;
        max-width: 768px;
        padding-bottom: 150px;
        margin: 80px 0 0px;
        border-bottom: 4px solid #424d5e;

        &-1 {
          margin-top: 150px;
          padding-bottom: 300px;
        }

        &-3 {
          margin-bottom: 0;
        }

        &-4 {
          border-bottom: none;
          margin-bottom: 0px;
          padding-bottom: 60px;
        }

        &-5 {
          border-bottom: none;
          margin-top: 160px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }

        &-6 {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0px;
        }

        &-7 {
          border-bottom: none;
        }
        &-10 {
          height: 1550px;
          margin-top: 50px;
          padding-bottom: 100px;
          max-width: 1320px;
          border-bottom: 4px solid #424d5e;
        }
        &-11 {
          height: 1314px;
          margin-top: 150px;
          padding-bottom: 300px;
          max-width: 1320px;
          border-bottom: 4px solid #424d5e;
          margin-bottom: 150px;
        }
        &-12 {
          height: 3000px;
          margin-top: 150px;
          padding-bottom: 300px;
          max-width: 768px;
          border-bottom: 4px solid #424d5e;
          margin-bottom: 150px;
        }
        &-13 {
          height: 2500px;
          margin-top: 150px;
          padding-bottom: 300px;
          max-width: 1320px;
          margin-bottom: 150px;
        }
      }

      &-block {
        padding-left: 20%;
        display: grid;
        row-gap: 40px;
        width: 100%;

        &-left {
          padding: 3%;
          display: flex;
          position: relative;
          width: 100%;
        }
        &-wrapper {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          flex-direction: column;
          height: 220px;
          max-height: 420px;
          &-orders {
            padding: 0 3% 0 3%;
            margin-top: 60px;
            line-height: 32px;
            width: 63%;
          }
          &-documents {
            margin-top: 60px;
            line-height: 32px;
            width: 43%;
            margin-right: 10%;
          }
          &-orders2 {
            padding: 0 3% 0 3%;
            color: white;
            margin-top: 60px;
            line-height: 32px;
            width: 63%;
          }
          &-courier {
            margin-left: 37%;
            line-height: 32px;
            width: 50%;
          }
          &-admin {
            margin-left: 15%;
            line-height: 32px;
            width: 42%;
          }
          &-admin2 {
            margin-left: 56%;
            line-height: 32px;
            width: 40%;
          }
          &-foodSupplier {
            margin-left: 56%;
            line-height: 32px;
            width: 100%;
          }
        }
      }

      &:nth-child(4) {
        div {
          border-bottom: none;
        }
      }
    }

    &-background-white {
      position: relative;
      margin: 0 auto;
      width: 768px;
      height: 480px;
      padding: 70px 0 0 135px;

      &-tasks {
        position: absolute;
        top: -330px;
        left: -10px;
        img {
          width: 172px;
          height: 286px;
        }
      }
      &-tasks2 {
        position: absolute;
        top: -240px;
        left: -100px;
        img {
          width: 172px;
          height: 286px;
        }
      }
      &-vacation {
        img {
          width: 193px;
          height: 47px;
        }
        position: absolute;
        top: -10px;
        right: 80px;
      }
      &-agreement {
        img {
          width: 203px;
          height: 339px;
        }
        position: absolute;
        top: -160px;
        left: 100px;
      }
      &-feedback {
        img {
          width: 203px;
          height: 339px;
        }
        position: absolute;
        top: 100px;
        left: 320px;
      }
      &-feedbackLetter {
        img {
          width: 203px;
          height: 339px;
        }
        position: absolute;
        top: 30px;
        left: 550px;
      }
      &-courier {
        img {
          width: 204px;
          height: 339px;
        }
        position: absolute;
        top: -500px;
        left: 10px;
      }
      &-courier2 {
        img {
          width: 204px;
          height: 339px;
        }
        position: absolute;
        top: -300px;
        left: 70px;
      }
      &-table {
        img {
          width: 450px;
          height: 165px;
        }
        position: absolute;
        top: -190px;
        left: -450px;
      }
      &-createAppeal {
        img {
          width: 400px;
          height: 200px;
        }
        position: absolute;
        top: -190px;
        left: -410px;
      }
      &-addDocument {
        img {
          width: 335px;
          height: 440px;
        }
        position: absolute;
        top: 30px;
        left: -130px;
      }
      &-checkboxes {
        display: none;
        position: absolute;
        top: 540px;
        left: -80px;
      }
      &-foodSupplierFilter {
        display: none;
        position: absolute;
        top: -170px;
        left: 110px;
      }
      &-foodSupplierContext {
        position: absolute;
        top: 650px;
        left: 900px;
      }
      &-heating {
        width: 535px;
        height: 334px;
        img {
          width: 535px;
          height: 334px;
        }
      }
    }

    &-background-black {
      position: relative;
      margin: 0 auto;
      width: 768px;
      height: 640px;

      &-create-request {
        opacity: 0.8;
      }

      &-history2 {
        display: none;
      }

      &-subscribe {
        position: absolute;
        top: -370px;
        left: 913px;
      }

      &-dispatcher-canceled {
        position: absolute;
        top: -140px;
        left: 935px;
      }

      &-dispatcher-changed {
        position: absolute;
        top: -40px;
        left: 750px;
      }

      &-cancel {
        position: absolute;
        top: -280px;
        left: 60px;
      }
      &-admin {
        img {
          width: 388px;
          height: 242px;
        }
        position: absolute;
        top: 45px;
        left: -60px;
      }
      &-login {
        img {
          width: 112px;
          height: 135px;
        }
        position: absolute;
        top: 65px;
        left: -120px;
      }
      &-orderTable {
        img {
          width: 437px;
          height: 273px;
        }
        position: absolute;
        top: 100px;
        left: -200px;
      }
      &-filterList {
        img {
          width: 157px;
          height: 197px;
        }
        position: absolute;
        top: -50px;
        left: -130px;
      }
      &-foodSupplier {
        img {
          width: 482px;
          height: 301px;
        }
        position: absolute;
        top: 10px;
        left: -20px;
      }
      &-editDish {
        img {
          width: 294px;
          height: 222px;
        }
        position: absolute;
        top: 120px;
        left: -100px;
      }
    }
    &-background-orders-black {
      position: relative;
      margin: 0 auto;
      width: 768px;
      height: 823px;
    }
    &-background-admin-black {
      position: relative;
      margin: 0 auto;
      width: 768px;
      height: 341px;
    }

    &-phone-screens {
      position: relative;
      margin: 0 auto;
      display: flex;
      column-gap: 50px;
      width: 768px;
      height: 1568px;

      &-block-1,
      &-block-2,
      &-block-3,
      &-block-4 {
        position: relative;
        left: -290px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
      }

      &-block-1 {
        top: -533px;
      }

      &-block-2 {
        top: -200px;
      }

      &-block-3 {
        top: 160px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Food {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #424d5e;

    &-wrapper-image {
      overflow: auto;
      display: flex;
      justify-content: space-around;
      img {
        width: 204px;
        height: 339px;
      }
      margin-top: 30px;
      display: flex;
    }
    &-wrapper-image-black {
      width: 100%;
      img {
        width: 100%;
      }
    }

    &-wrapper-image-docs {
      height: max-content;
      width: 480px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }

    &-menu-back {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 80px;
      background-color: #fff;
    }

    &-white {
      background-color: #eef0f2;
      width: 100%;
    }

    &-black {
      background-color: #1e2837;
      width: 100%;
    }

    &-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-section {
      width: 100%;

      &-flex {
        display: flex;
        flex-direction: column;
        flex: wrap;
        width: 95%;
        padding-bottom: 150px;
        margin: 5% 3% 0px;
        border-bottom: 4px solid #424d5e;

        &-1 {
          margin-top: 150px;
          padding-bottom: 100px;
        }

        &-3 {
          margin-bottom: 0;
        }

        &-4 {
          border-bottom: none;
          margin-bottom: 0px;
          padding-bottom: 60px;
        }

        &-5 {
          border-bottom: none;
          margin-top: 160px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }

        &-6 {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0px;
        }

        &-7 {
          border-bottom: none;
        }
        &-10 {
          width: 95%;
          height: 1300px;
          margin: 5% 3% 0px;
          padding-bottom: 100px;
          border-bottom: 4px solid #424d5e;
        }
        &-11 {
          width: 95%;
          height: 1390px;
          margin-top: 50px;
          padding-bottom: 300px;
          border-bottom: 4px solid #424d5e;
          margin-bottom: 150px;
        }
        &-12 {
          width: 95%;
          height: 3000px;
          margin-top: 150px;
          padding-bottom: 300px;
          max-width: 768px;
          border-bottom: 4px solid #424d5e;
          margin-bottom: 150px;
        }
        &-13 {
          width: 95%;
          height: 1700px;
          margin-top: 150px;
          padding-bottom: 300px;
          max-width: 1320px;
          margin-bottom: 150px;
        }
      }

      &-block {
        margin-top: 30px;
        padding-left: 1%;
        display: grid;
        row-gap: 40px;
        width: 100%;

        &-left {
          padding: 3%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          width: 100%;
        }
        &-wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          height: 100px;

          &-orders {
            padding: 0 3% 0 3%;
            margin-top: 20px;
            line-height: 32px;
            width: 100%;
          }
          &-documents {
            margin-top: 60px;
            line-height: 32px;
            width: 77%;
            margin: 0 0 0 3%;
          }
          &-orders2 {
            padding: 0 3% 0 3%;
            color: white;
            margin-top: 60px;
            line-height: 32px;
            width: 63%;
          }
          &-courier {
            margin-top: 30px;
            margin-left: 1px;
            line-height: 32px;
            width: 90%;
          }
          &-admin {
            margin-top: 30px;
            margin-left: 0;
            line-height: 32px;
            width: 100%;
          }
          &-admin2 {
            margin-left: 0;
            line-height: 32px;
            width: 100%;
          }
          &-foodSupplier {
            margin-left: 56%;
            line-height: 32px;
            width: 100%;
          }
        }
      }

      &:nth-child(4) {
        div {
          border-bottom: none;
        }
      }
    }

    &-background-white {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 480px;
      padding: 70px 5% 0 5%;

      &-tasks {
        display: none;
        position: absolute;
        top: -330px;
        left: -10px;
        img {
          width: 172px;
          height: 286px;
        }
      }
      &-tasks2 {
        display: none;
        position: absolute;
        top: -240px;
        left: -100px;
        img {
          width: 172px;
          height: 286px;
        }
      }
      &-vacation {
        display: none;
      }
      &-agreement {
        img {
          width: 203px;
          height: 339px;
        }
        position: static;
      }
      &-feedback {
        margin-top: 40px;
        img {
          width: 203px;
          height: 339px;
        }
        position: static;
      }
      &-feedbackLetter {
        img {
          width: 203px;
          height: 339px;
        }
        position: absolute;
        top: 30px;
        left: 550px;
      }
      &-courier {
        img {
          width: 204px;
          height: 339px;
        }
        position: static;
        top: -500px;
        left: 10px;
      }
      &-courier2 {
        img {
          width: 204px;
          height: 339px;
        }
        position: static;
        top: -300px;
        left: 70px;
      }
      &-table {
        img {
          width: 450px;
          height: 165px;
        }
        position: absolute;
        top: -190px;
        left: -450px;
      }
      &-createAppeal {
        img {
          width: 400px;
          height: 200px;
        }
        position: absolute;
        top: -190px;
        left: -410px;
      }
      &-addDocument {
        img {
          width: 335px;
          height: 440px;
        }
        position: static;
        top: 30px;
        left: -130px;
      }
      &-checkboxes {
        display: none;
        position: absolute;
        top: 540px;
        left: -80px;
      }
      &-foodSupplierFilter {
        display: none;
        position: absolute;
        top: -170px;
        left: 110px;
      }
      &-foodSupplierContext {
        position: absolute;
        top: 650px;
        left: 900px;
      }
      &-heating {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    &-background-black {
      position: relative;
      margin: 0 auto;
      width: 480px;
      height: 640px;

      &-create-request {
        opacity: 0.8;
      }

      &-history2 {
        display: none;
      }

      &-subscribe {
        position: absolute;
        top: -370px;
        left: 913px;
      }

      &-dispatcher-canceled {
        position: absolute;
        top: -140px;
        left: 935px;
      }

      &-dispatcher-changed {
        position: absolute;
        top: -40px;
        left: 750px;
      }

      &-cancel {
        position: absolute;
        top: -280px;
        left: 60px;
      }
      &-admin {
        img {
          width: 388px;
          height: 242px;
        }
        position: absolute;
        top: 1px;
        left: -100px;
      }
      &-login {
        img {
          width: 112px;
          height: 135px;
        }
        position: absolute;
        top: 20px;
        left: 30px;
      }
      &-orderTable {
        img {
          width: 437px;
          height: 273px;
        }
        position: absolute;
        top: 140px;
        left: -60px;
      }
      &-filterList {
        img {
          width: 157px;
          height: 197px;
        }
        position: absolute;
        top: -50px;
        left: 200px;
      }
      &-foodSupplier {
        img {
          width: 482px;
          height: 301px;
        }
        position: absolute;
        top: 10px;
        left: 50px;
      }
      &-editDish {
        img {
          width: 294px;
          height: 222px;
        }
        position: absolute;
        top: 120px;
        left: 30px;
      }
    }
    &-background-orders-black {
      position: relative;
      margin: 0 auto;
      width: 480px;
      height: 950px;
    }
    &-background-admin-black {
      position: relative;
      margin: 0 auto;
      width: 480px;
      height: 341px;
    }

    &-phone-screens {
      position: relative;
      margin: 0 auto;
      display: flex;
      column-gap: 50px;
      width: 480px;
      height: 1568px;

      &-block-1,
      &-block-2,
      &-block-3,
      &-block-4 {
        position: relative;
        left: -290px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
      }

      &-block-1 {
        top: -533px;
      }

      &-block-2 {
        top: -200px;
      }

      &-block-3 {
        top: 160px;
      }
    }
  }
}
