.Menu {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  max-width: 1320px;
  // overflow: hidden;
  margin: 0 auto;
  margin-left: 11%;
  padding: 29px 0 0;
  color: #424d5e;

  &-mainRedirect {
    display: none;
  }

  &-select {
    position: absolute;
    left: 85%;
    bottom: 10%;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    li {
      font-size: 16px;
      margin-top: 1px;
    }
  }

  &-elgrowLogo {
    right: 140%;
    position: absolute;
  }

  label {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-logo {
    transform: translateY(-200%);
    transition: all 0.5s ease 0s;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    a {
      color: #424d5e;
      text-decoration: none;
    }

    &_color {
      color: #3ece5d;
    }
  }

  &-logo._active {
    transform: translateY(0);
    opacity: 1;
  }
  &-burger-logo {
    display: none;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 63%;
  }
  &-menuContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 342px;
  }

  &-list {
    width: max-content;
    margin: 0;
    padding: 0;
  }

  &-link {
    transform: translateY(-200%);
    transition: all 0.5s ease 0s;
    position: relative;
    list-style: none;
    cursor: pointer;

    a {
      font-size: 16px;
      line-height: 26px;
      color: #424d5e;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        width: 0%;
        border-bottom: 1px solid #424d5e;
        transition: width 0.3s ease-out;
      }

      &:hover:after {
        width: 50%;
      }

      &:focus:after {
        width: 100%;
      }
    }
  }
  &-link._active {
    transform: translateY(0);
    opacity: 1;
  }

  &-link._anim-items._hidden {
    display: none;
  }
  &-call {
    align-items: flex-end;
    width: 250px;

    &_phone,
    &_time {
      max-height: 20px;
      overflow: hidden;

      a {
        color: #424d5e;
        text-decoration: none;
      }
    }

    &_phone {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 22px;
    }

    &_time {
      font-size: 12px;
      line-height: 18px;
    }

    &_time_none {
      display: none;
    }
  }

  &-display-none,
  &-burger-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Menu {
    &-select {
      position: absolute;
      left: 65%;
      top: 42%;
      list-style: none;
      cursor: pointer;
      font-size: 20px;
      li {
        font-size: 16px;
        margin-top: 1px;
      }
    }
    &-menuContainer {
      width: 270px;
    }
    justify-content: space-between;
    a {
      font-size: 15px;
    }
    &-call {
      &_phone {
        a {
          font-size: 10px;
        }
      }
    }
    li {
      margin-top: 1px;
      font-size: 15px;
    }
    &-list {
      width: max-content;
    }
    max-width: 672px;
    &-logo {
      visibility: visible;
    }

    &-wrapper {
      width: 270px;
    }
  }
}

@media screen and (max-width: 480px) {
  .Menu {
    &-mainRedirect {
      display: block;
    }

    a {
      font-size: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    height: max-content;
    margin: 0;

    &-select {
      position: absolute;
      cursor: pointer;
      font-size: 20px;
      top: 10px;
      left: 70%;
      li {
        font-size: 20px;
        color: #1e2837;
        margin-top: 1px;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &-display-block {
      align-items: stretch;
    }

    &-logo,
    &-wrapper {
      display: none;
    }

    &-call {
      width: 300px;
      justify-content: space-around;
      padding: 13px 0 0 0px;

      &_phone {
        font-weight: 700;
        a {
          color: #1e2837;
        }
      }
    }
    &-menuContainer {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 30%;
      height: 250px;
      li {
        text-align: center;
      }
    }
    // &-link._anim-items._hidden {
    //   display: none;
    // }
    &-contactsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
      margin-bottom: 10%;
    }

    &-link {
      transform: none;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;

      &-button {
        width: 100%;
        max-width: 480px;
        max-height: 30px;
        overflow: hidden;
        font-size: 16px;
        line-height: 26px;
        background-color: #1e2837;
        border: none;

        a {
          max-width: 320px;
          max-height: 20px;
          overflow: hidden;
        }
      }

      &-img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    &-burger-logo {
      display: block;
      position: absolute;
      top: 10px;
      left: 10%;
    }

    &-burger-connect {
      justify-content: center;
      display: flex;

      font-size: 14px;
      line-height: 22px;
    }

    &-burger-wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      width: 120vw;
      height: 100vh;
      flex-grow: 3;
      max-width: 500px;
      left: -16px;
      // padding: 244px 0 147px 0;
      background-color: #1e2837;

      &-list {
      }
    }

    &-burger-button {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0%;
      display: block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      border: none;

      &_closed::after {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 1.5px;
        background-color: #1e2837;
        box-shadow: 0 8px 0 0 #1e2837, 0 16px 0 0 #1e2837;
      }
    }

    &-burger-button_opened {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 16px;
        width: 24px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
        box-shadow: none;
      }
    }
  }
  .Menu > .Menu-burger-wrapper {
    order: 2;
  }
  .Menu > .Menu-call {
    order: 1;
  }
}
