.Menu {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  max-width: 1320px;
  // overflow: hidden;
  margin: 0 auto;
  padding: 29px 0 0;
  color: #424d5e;

  select {
    color: #424d5e;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    margin-top: 1px;
    // width: 100%;
    font-family: inherit;
    font-size: 20px;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    &::-ms-expand {
      display: none;
    }
    outline: none;
  }

  .select {
    display: grid;
    grid-template-areas: 'select';
    align-items: center;
    position: relative;

    select,
    &::after {
      grid-area: select;
    }

    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;

    font-size: 20px;
    line-height: 1.1;

    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    &:not(.select--multiple)::after {
      content: '';
      justify-self: end;
      width: 0.8em;
      height: 0.5em;
      background-color: var(--select-arrow);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  }

  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  select[multiple] {
    padding-right: 0;

    height: 6rem;

    option {
      white-space: normal;

      // Only affects Chrome
      outline-color: var(--select-focus);
    }
  }

  .select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
  }

  label {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .select + label {
    margin-top: 2rem;
  }

  &-logo {
    transform: translateY(-200%);
    transition: all 0.5s ease 0s;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    a {
      color: #424d5e;
      text-decoration: none;
    }

    &_color {
      color: #3ece5d;
    }
  }

  &-logo._active {
    transform: translateY(0);
    opacity: 1;
  }
  &-burger-logo {
    display: none;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  &-menuContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-list {
    margin: 0;
    padding: 0;
  }

  &-link {
    transform: translateY(-200%);
    transition: all 0.5s ease 0s;
    position: relative;
    list-style: none;
    cursor: pointer;

    a {
      font-size: 20px;
      line-height: 26px;
      color: #424d5e;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        width: 0%;
        border-bottom: 1px solid #424d5e;
        transition: width 0.3s ease-out;
      }

      &:hover:after {
        width: 50%;
      }

      &:focus:after {
        width: 100%;
      }
    }
  }
  &-link._active {
    transform: translateY(0);
    opacity: 1;
  }
  &-call {
    flex-direction: column;
    align-items: flex-end;
    width: 132px;

    &_phone,
    &_time {
      max-width: 150px;
      max-height: 20px;
      overflow: hidden;

      a {
        color: #424d5e;
        text-decoration: none;
      }
    }

    &_phone {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 22px;
    }

    &_time {
      font-size: 12px;
      line-height: 18px;
    }

    &_time_none {
      display: none;
    }
  }

  &-display-none,
  &-burger-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Menu {
    max-width: 672px;
    &-logo {
      visibility: visible;
    }

    &-wrapper {
      width: 200px;
    }
  }
}

@media screen and (max-width: 480px) {
  .Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    height: max-content;

    a,
    select {
      text-decoration: none;
      color: #fff;
    }
    option {
      color: #424d5e;
    }

    &-display-block {
      align-items: stretch;
    }

    &-logo,
    &-wrapper {
      display: none;
    }

    &-call {
      width: 150px;
      padding: 16px 0 0 16px;

      &_phone {
        font-weight: 700;
        a {
          color: #1e2837;
        }
      }
    }
    &-menuContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 30%;
      height: 250px;
      li {
        text-align: center;
      }
    }

    &-contactsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
      margin-left: 20px;
      margin-bottom: 10%;
    }

    &-link {
      transform: none;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;

      &-button {
        width: 100%;
        max-width: 480px;
        max-height: 30px;
        overflow: hidden;
        font-size: 16px;
        line-height: 26px;
        background-color: #1e2837;
        border: none;

        a {
          max-width: 320px;
          max-height: 20px;
          overflow: hidden;
        }
      }

      &-img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    &-burger-logo {
      display: block;
      position: absolute;
      top: 10px;
      left: 10%;
    }

    &-burger-connect {
      justify-content: center;
      display: flex;
      // margin-bottom: 10px;
      font-size: 14px;
      line-height: 22px;

      &_phone {
        // margin-top: 35px;
      }
    }

    &-burger-wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      width: 110%;
      height: 844px;
      flex-grow: 3;
      max-width: 480px;
      left: -16px;
      // padding: 244px 0 147px 0;
      background-color: #1e2837;

      &-list {
      }
    }

    &-burger-button {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0%;
      display: block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      border: none;

      &_closed::after {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 1.5px;
        background-color: #1e2837;
        box-shadow: 0 8px 0 0 #1e2837, 0 16px 0 0 #1e2837;
      }
    }

    &-burger-button_opened {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 16px;
        width: 24px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
        box-shadow: none;
      }
    }
  }
  .Menu > .Menu-burger-wrapper {
    order: 2;
  }
  .Menu > .Menu-call {
    order: 1;
  }
}
