.ProjectsImage {
  img {
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .ProjectsImage {
    img {
      // position: absolute;
      opacity: 1;
      width: 220px;
      height: 220px;
    }
  }
}

@media screen and (max-width: 480px) {
  .ProjectsImage {
    img {
      width: 448px;
      height: 448px;
    }
  }
}

@media screen and (max-width: 320px) {
  .ProjectsImage {
    img {
      width: 288px;
      height: 288px;
    }
  }
}
