.ProjectsImage {
  img {
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .ProjectsImage {
    img {
      position: absolute;
      top: 215px;
      left: 20%;
      opacity: 1;
      width: 45%;
      height: 220px;
    }
  }
}

@media screen and (max-width: 480px) {
  .ProjectsImage {
    img {
      position: absolute;
      top: 215px;
      left: 50%;
      opacity: 1;
      width: 100%;
      height: 400px;
    }
  }
}

@media screen and (max-width: 320px) {
  .ProjectsImage {
    img {
      position: absolute;
      top: 215px;
      left: 50%;
      opacity: 1;
      width: 100%;
      height: 288px;
    }
  }
}
