.Footer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  height: inherit;

  padding: 0 231px;
  background-image: linear-gradient(
    to top,
    rgba(30, 40, 55, 0.9),
    rgba(30, 40, 55, 0.9)
  );

  color: #fff;

  &-mapContainer {
    height: 800px;
    margin-top: 300px;
  }

  &-cities {
    margin-top: 28%;
    width: 50%;
    :nth-child(3) {
      &::after {
        width: 0%;
      }
    }
  }

  &-title {
    transform: translate(-120%, 0px);
    transition: all 0.5s ease 0s;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 30px;
    padding-top: 100px;
    font-size: 160px;
    line-height: 160px;
    font-weight: 400;
  }
  &-title._active {
    transform: translate(0, 0px);
  }

  &-container {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: baseline;
    width: 43%;
    margin-left: 4.5%;
  }

  &-list {
    margin: 0 80px 0 0;
    padding: 0;
    list-style: none;

    &-mail {
      font-size: 30px;
      transform: translate(-500%, 0px);
      transition: all 0.5s ease 0s;
    }
    &-mail._active {
      transform: translate(0, 0px);
    }
    &-cityName {
      transform: translate(-500%, 0px);
      transition: all 0.8s ease 0s;
    }
    &-cityName._active {
      transform: translate(0, 0px);
    }
    &-phone {
      transform: translate(-500%, 0px);
      transition: all 0.8s ease 0s;
    }
    &-phone._active {
      transform: translate(0, 0px);
    }

    &-telegram {
      font-size: 30px;
      transform: translate(500%, 0px);
      transition: all 0.5s ease 0s;
    }
    &-telegram._active {
      transform: translate(0, 0px);
    }

    &-contactsWrapper {
      height: max-content;
      margin-top: 60px;
      li {
        padding: 10px 0 10px 0;
      }
    }

    &-mail,
    &-telegram {
      &-button {
        padding: 0;

        line-height: 36px;

        a {
          text-decoration: none;
          color: #fff;
        }

        span {
          display: inline-block;

          &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 6px;
            border-bottom: 1px solid #bdc6d5;
            transition: width 0.3s ease-out;
          }

          &:hover:after {
            width: 50%;
          }
        }

        img {
          width: 36px;
          height: 36px;
          margin-right: 20px;
          vertical-align: middle;
        }
      }
    }

    &-phone button {
      padding: 0;
      font-size: 50px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }

    &-mail,
    &-phone,
    &-telegram {
      & button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        color: #fff;
      }
    }

    &-cityName {
      cursor: pointer;
      opacity: 30%;
      &::after {
        margin-top: 40px;
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 6px;
        opacity: 30%;
        border-bottom: 2px solid white;
        transition: width 0.3s ease-out;
      }

      &-location {
        display: none;
        left: -50px;
        position: absolute;
      }
      &-location._picked {
        display: block;
        left: -50px;
        position: absolute;
      }

      &-button {
        font-size: 30px;
      }

      &-street {
        display: none;
        font-size: 20px;
      }
      &-street._picked {
        display: block;
        font-size: 20px;
      }
    }
    &-cityName._picked {
      color: white;
      opacity: 1;
      &::after {
        margin-top: 40px;
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 6px;
        opacity: 30%;
        border-bottom: 2px solid white;
        transition: width 0.3s ease-out;
      }
    }

    &-time {
      margin-top: 15px;
      font-size: 14px;
      line-height: 22px;
    }

    &-phone,
    &-cityName {
      margin-top: 27px;
    }

    // &-whatsApp {
    //   margin: 19px 0 0 56px;
    // }

    // &-viber {
    //   margin: 8px 0 0 56px;
    // }
  }

  &-wrapperCopyright {
    display: flex;
    justify-content: flex-start;
  }

  &-copyright {
    max-width: 1440px;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1440px) {
  .Footer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    padding: 0 60px;
    background-image: linear-gradient(
      to top,
      rgba(30, 40, 55, 0.9),
      rgba(30, 40, 55, 0.9)
    );

    color: #fff;

    &-cities {
      margin-top: 29%;
      width: 43%;
    }

    &-title {
      transform: translate(-120%, 0px);
      transition: all 0.5s ease 0s;
      margin: 0 auto;
      max-width: 1440px;
      margin-bottom: 30px;
      padding-top: 100px;
      font-size: 160px;
      line-height: 160px;
      font-weight: 400;
    }
    &-title._active {
      transform: translate(0, 0px);
    }

    &-container {
      padding-left: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      max-width: 1440px;
      margin: -30px;
    }

    &-list {
      margin: 0 80px 0 0;
      padding: 0;
      list-style: none;

      &-mail {
        transform: translate(-500%, 0px);
        transition: all 0.5s ease 0s;
      }
      &-mail._active {
        transform: translate(0, 0px);
      }
      &-phone {
        transform: translate(-500%, 0px);
        transition: all 0.8s ease 0s;
      }
      &-phone._active {
        transform: translate(0, 0px);
      }

      &-telegram {
        transform: translate(500%, 0px);
        transition: all 0.5s ease 0s;
      }
      &-telegram._active {
        transform: translate(0, 0px);
      }

      &-mail,
      &-telegram {
        &-button {
          padding: 0;
          font-size: 30px;
          line-height: 36px;

          a {
            text-decoration: none;
            color: #fff;
          }

          span {
            display: inline-block;

            &::after {
              content: '';
              display: block;
              width: 100%;
              padding-bottom: 6px;
              border-bottom: 1px solid #bdc6d5;
              transition: width 0.3s ease-out;
            }

            &:hover:after {
              width: 50%;
            }
          }

          img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
            vertical-align: middle;
          }
        }
      }

      &-phone button {
        padding: 0;

        a {
          text-decoration: none;
          color: #fff;
        }
      }

      &-mail,
      &-phone,
      &-telegram {
        & button {
          background-color: Transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          color: #fff;
        }
      }

      &-time {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
      }

      &-phone {
        margin-top: 27px;
      }

      // &-whatsApp {
      //   margin: 19px 0 0 56px;
      // }

      // &-viber {
      //   margin: 8px 0 0 56px;
      // }
    }

    &-wrapperCopyright {
      display: flex;
      justify-content: flex-start;
    }

    &-copyright {
      max-width: 1440px;
      text-align: center;
      margin-top: 200px;
      padding-bottom: 60px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 0 39px;

    &-mapContainer {
      height: 550px;
      margin-top: 150px;
    }

    &-title {
      margin-bottom: 30px;
      padding-top: 65px;
      font-size: 80px;
      line-height: 80px;
    }

    &-cities {
      margin-top: 35%;
    }

    &-container {
      width: 63%;
    }

    &-list {
      margin-bottom: 48px;

      &-mail button,
      &-telegram button {
        font-size: 20px;
        line-height: 24px;

        & span {
          padding-bottom: 11px;
        }

        & img {
          margin-right: 12px;
        }
      }

      &-cityName {
        margin-top: 17px;
        &-button {
          font-size: 16px;
        }
      }

      &-phone button {
        font-size: 30px;
      }

      &-time {
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
      }

      &-phone {
        margin-top: 12px;
      }
    }
    &-wrapperCopyright {
      margin-top: 30px;
      width: max-content;
      height: 10px;
      padding-bottom: 5%;
    }

    &-copyright {
      height: 10px;
      margin-top: inherit;
      padding-bottom: 29px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .Footer {
    padding: 0 6px;
    justify-content: space-between;

    &-mapContainer {
      height: 467px;
      margin-top: 150px;
    }

    &-cities {
      margin-top: 55%;
      margin-left: 10%;
      width: 39%;
    }

    &-title {
      margin: 0;
      margin-bottom: 29px;
      font-size: 50px;
      line-height: 50px;
    }

    &-container {
      flex-direction: column;
      width: 51%;
      padding: 0;
      margin-left: 1%;
    }

    &-list {
      margin: 0 0 16px 0;

      &-cityName {
        opacity: 30%;
        &::after {
          margin-top: 20px;
          content: '';
          display: block;
          width: 100%;
          padding-bottom: 6px;
          opacity: 30%;
          border-bottom: 2px solid white;
          transition: width 0.3s ease-out;
        }

        &-location {
          display: none;
          left: -50px;
          position: absolute;
        }
        &-location._picked {
          display: block;
          left: -50px;
          position: absolute;

          width: 24px;
          height: 24px;
        }

        &-button {
          font-size: 18px;
        }

        &-street {
          display: none;
          font-size: 14px;
        }
        &-street._picked {
          display: block;
          font-size: 14px;
        }
      }
      &-cityName._picked {
        color: white;
        opacity: 1;
        &::after {
          margin-top: 10px;
          content: '';
          display: block;
          width: 0%;
          padding-bottom: 6px;
          opacity: 30%;
          border-bottom: 2px solid white;
          transition: width 0.3s ease-out;
        }
      }

      &-mail button,
      &-telegram button {
        font-size: 1rem;

        & span {
          padding-bottom: 4px;
        }

        & img {
          width: 30px;
          height: 30px;
          margin-right: 16px;
        }
      }

      &-phone button {
        font-size: 1.2rem;
        line-height: 22px;
      }

      &-time {
        margin-top: 4px;
        font-size: 10px;
        line-height: 16px;
      }

      &-phone {
        margin-top: 9px;
      }
    }
    &-copyright {
      margin-top: 47px;
      padding-bottom: 13px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright__link {
  display: none;
}
